@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ghost-accent-color: theme(colors.primary.400);
}

@layer base {
  code, kbd, pre, samp {
    font-variation-settings: "MONO" 1;
    font-variant-ligatures: common-ligatures;
  }

  html {
    font-variation-settings: "wght" 345;
    font-variant-ligatures: common-ligatures;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: "MONO" 0.5, "wght" 760;
  }
}

@layer utilities {
  .prose-2xl :where(code):not(:where([class~=not-prose] *)) {
    font-size: 1.3rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker, /* Latest Chrome, Edge, Firefox */
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }
}

.kg-width-wide {
  position: relative;
  width: 85vw;
  min-width: 100%;
  margin: auto calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.kg-bookmark-title {
  font-size: 1rem;
}

.kg-bookmark-description,
.kg-bookmark-metadata {
  font-size: 0.8rem;
}

.kg-bookmark-container img {
  margin-top: 0;
  margin-bottom: 0;
}

.kg-callout-card div.kg-callout-text {
  font-variation-settings: "slnt" -5.9, "CRSV" 1, "CASL" 1;
}
