@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ghost-accent-color: theme(colors.nord-frost-1.500);
}

@layer base {
  code, kbd, pre, samp {
    font-variation-settings: "MONO" 1;
    font-variant-ligatures: common-ligatures;
  }

  html {
    font-variation-settings: "wght" 345;
    font-variant-ligatures: common-ligatures;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: "MONO" 0.5, "wght" 760;
  }
}

@layer utilities {
  .prose-2xl :where(code):not(:where([class~=not-prose] *)) {
    font-size: 1.3rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker, /* Latest Chrome, Edge, Firefox */
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }

  .font-light {
    font-variation-settings: "wght" 300;
  }
  .font-normal {
    font-variation-settings: "wght" 345;
  }
  .font-semimedium {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800;
  }
  .font-black {
    font-variation-settings: "wght" 900;
  }
  .font-extrablack {
    font-variation-settings: "wght" 1000;
  }

  pre[class*="language-"],
  code[class*="language-"] {
    font-family: theme(fontFamily.mono);
    white-space: pre-wrap;
  }

  pre[class*="language-"] {
    scrollbar-color: theme(colors.nord-polarnight-2.700) theme(colors.nord-polarnight-2.200);
  }
  .dark pre[class*="language-"] {
    background: rgb(0 0 0 / 0.25);
  }
  pre[class*="language-"] {
    background: theme(colors.nord-polarnight-0.900);
  }
  pre[class*="language-"]::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }
  pre[class*="language-"]::-webkit-scrollbar-thumb { /* Foreground */
    background: theme(colors.nord-polarnight-2.700);
  }
  pre[class*="language-"]::-webkit-scrollbar-track { /* Background */
    background: theme(colors.nord-polarnight-2.900);
  }

  .marquee svg {
    display: grid;
    place-items: center;
    /*width: 100%;*/
    fill: #000;
    background: theme(colors.nord-polarnight-2.200);
    aspect-ratio: 16/9;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 12rem;
    width: 20rem;
  }

  .dark .marquee svg {
    background: theme(colors.nord-polarnight-2.700);
  }
}

.kg-width-wide {
  position: relative;
  width: 85vw;
  min-width: 100%;
  margin: auto calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.kg-bookmark-title {
  font-size: 1rem;
}

.kg-bookmark-description,
.kg-bookmark-metadata {
  font-size: 0.8rem;
}

.kg-bookmark-container img {
  margin-top: 0;
  margin-bottom: 0;
}

.kg-callout-card div.kg-callout-text {
  font-variation-settings: "slnt" -5.9, "CRSV" 1, "CASL" 1;
}
